<div class="page-header">
  <h1>Форум</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>      
      <th>Рубрики</th>
      <th>Создана</th>
      <th>Число постов</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, posts_index_path(:topic => topic.id) %></td>
        
        <td><%=topic.created_at.strftime("%d.%m.%Y в %k:%m")%></td>
        <td>
          <%= Post.where(:topic_id => topic.id).count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_topic_path,
            :class => 'btn btn-primary' %>
