<% if notice %>
<p id="notice"><%= notice %> </p>
<% end %>

<h1>Форум</h1>

<h4>Уважаемые пользователи, форум нахоодится в разработке, на этот период предлагается пользоваться общим чатом.</h4>

<div id="message_block">
	<%= render(@message) %>
</div>

<p> </p>