
<% if @user && @user.status == 0 %>
	<h4>Поздравляем!</h1>
	<div class="alert alert-success">  		 
  		 <p> <%= @message_text %></p>  		   		 
	</div>			
	<p><%= link_to "Войти", login_path %> </p>
<% else %>
	<h4>Ошибка!</h1>
	<div class="alert alert-error">  		 
  		 <p> <%= @message_text %></p>
	</div>			
<% end %>