<% if notice %>
<p id="notice"><%= notice %> </p>
<% end %>

<div class="page-header1">  
	<table width="100%" class="topline">
		<tr>
			<td><h1><small><%= @header_text %></small></h1></td>
			<td width="60px"><%= button_to 'Подать объявление', adverts_new_path, :class => "btn btn-warning" %></td>		
		</tr>
	</table>
</div>

<div class="well well-small" id="form_block">
<%= render 'form' %>
</div>

