<% if notice %>
<p id="notice"><%= notice %> </p>
<% end %>


<table width="100%" class="topline">
	<tr>
		<td><h1><%= @header_text %></h1></td>
		<td width="60px"><%= button_to 'Подать объявление', adverts_new_path, :class => "highlight_bt" %></td>		
	</tr>
</table>

<div id="form_block">
<%= render 'form' %>
</div>

