<div class="page-header">
  <h2>О сообществе</h2>
</div>

<div >

<p>
Сообщество создано для возможности обмена между сотрудниками Альянс информацией, не связанной с деятельностью компании. В первую очередь это личные объявления. Данный ресурс является закрытым, доступ к нему имеют только работающие на текущий момент сотрудники.
</p>
<p>
Помогите нам улучшить сообщество, отправляйте свои идеи и предложения на alnz.community@gmail.com.
</p>
</div>

<br>
<br>
<br>