<h1 class="topline">О сообществе</h1>


<p>
Сообщество создано для возможности обмена между сотрудниками Альянс информацией, не связанной с деятельностью компании. В первую очередь это личные объявления. Данный ресурс является закрытым, доступ к нему имеют только работающие на текущий момент сотрудники.
</p>
<p>
В случае возникновения вопросов, пишите нам на allianz.community@gmail.com либо добавляйте сообщения в разделе "форум".
</p>
<br>
<br>