<div class="page-header">
  <h2>Приглашение</h2>
</div>

<p>
Пригласить пользователя
</p>

<%= form_tag nil, :html => { :class => 'form-horizontal' } do %>		

<div class="well">	  	
  <table>
  	<tr>



  	<td><%= label_tag :email, 'Email:', :class => 'control-label' %></td>
    <td><%= text_field_tag :email, params[:email] %> </td>
	<td valign="top"><%= submit_tag "Отправить приглашение", :class => 'btn btn-primary'%> </td>
		
	

  </table>
</div>
	
<% end %>


<br/>